* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li, a, div, img, button, input {
  margin: 0;
  padding: 0;
  min-width: 1px;
  min-height: 1px;
  font-style: none;
  text-decoration: none;
  font-weight: normal;
  list-style-type: none;
}

.container {
  margin: 0 auto;
  width: 1050px;
  max-width: calc(100% - 200px);
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.container::before {
  content: '';
  display: table;
  clear: both;
}

@media screen and (max-width: 899px) {
  .container {
    max-width: calc(100% - 50px);
  }
}

.extracontainer {
  margin: 0 auto;
  width: 1250px;
  max-width: 100%;
}

.extracontainer::after {
  content: '';
  display: table;
  clear: both;
}

.extracontainer::before {
  content: '';
  display: table;
  clear: both;
}

.grid-1 {
  width: calc( 8.33333% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-1 .grid-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-1 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-2 {
  width: calc( 16.66667% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-2 .grid-2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-2 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-3 {
  width: calc( 25% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-3 .grid-3 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-3 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-4 {
  width: calc( 33.33333% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-4 .grid-4 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-4 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-5 {
  width: calc( 41.66667% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-5 .grid-5 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-5 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-6 {
  width: calc( 50% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-6 .grid-6 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-6 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-7 {
  width: calc( 58.33333% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-7 .grid-7 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-7 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-8 {
  width: calc( 66.66667% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-8 .grid-8 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-8 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-9 {
  width: calc( 75% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-9 .grid-9 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-9 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-10 {
  width: calc( 83.33333% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-10 .grid-10 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-10 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-11 {
  width: calc( 91.66667% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-11 .grid-11 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-11 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.grid-12 {
  width: calc( 100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

@media screen and (max-width: 899px) {
  .grid-12 .grid-12 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 899px) {
  .grid-12 {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

.header_1 {
  background: #1b262c;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_1 .container .logo {
  width: 100px;
}

.header_1 .container .logo img {
  width: 100%;
}

.header_1 .container .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header_1 .container .menu::after {
  content: '';
  display: table;
  clear: both;
}

.header_1 .container .menu::before {
  content: '';
  display: table;
  clear: both;
}

.header_1 .container .menu .menuButton {
  display: none;
}

.header_1 .container .menu .menuButton button {
  background: none;
  border: none;
}

.header_1 .container .menu .menuButton button * {
  fill: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_1 .container .menu .menuButton button:hover * {
  fill: #3282b8;
}

.header_1 .container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_1 .container .menu ul li {
  margin-left: 20px;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}

.header_1 .container .menu ul li a {
  color: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_1 .container .menu ul li a:hover {
  color: #3282b8;
}

.header_1 .container .menu ul .close {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_1 .container .menu ul .close button {
  background: none;
  border: none;
}

.header_1 .container .menu ul .close button * {
  fill: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_1 .container .menu ul .close button:hover * {
  fill: #3282b8;
}

@media screen and (max-width: 899px) {
  .header_1 .container .menu .menuButton {
    display: block;
    float: right;
  }
  .header_1 .container .menu ul {
    display: none;
  }
  .header_1 .container .menu .menuVisible {
    display: block;
    position: fixed;
    background: #1b262c;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 20px;
  }
  .header_1 .container .menu .menuVisible li {
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
  }
  .header_1 .container .menu .menuVisible .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header_2 {
  background: #1b262c;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_2 .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.header_2 .container .row .logo {
  width: 100px;
}

.header_2 .container .row .logo img {
  width: 100%;
}

.header_2 .container .row .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_2 .container .row .social li {
  margin-left: 20px;
  cursor: pointer;
}

.header_2 .container .row .social li * {
  fill: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_2 .container .row .social li:hover * {
  fill: #3282b8;
}

.header_2 .container .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header_2 .container .menu::after {
  content: '';
  display: table;
  clear: both;
}

.header_2 .container .menu::before {
  content: '';
  display: table;
  clear: both;
}

.header_2 .container .menu .menuButton {
  display: none;
}

.header_2 .container .menu .menuButton button {
  background: none;
  border: none;
}

.header_2 .container .menu .menuButton button * {
  fill: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_2 .container .menu .menuButton button:hover * {
  fill: #3282b8;
}

.header_2 .container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header_2 .container .menu ul li {
  margin-right: 20px;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}

.header_2 .container .menu ul li a {
  color: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_2 .container .menu ul li a:hover {
  color: #3282b8;
}

.header_2 .container .menu ul .close {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_2 .container .menu ul .close button {
  background: none;
  border: none;
}

.header_2 .container .menu ul .close button * {
  fill: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_2 .container .menu ul .close button:hover * {
  fill: #3282b8;
}

@media screen and (max-width: 899px) {
  .header_2 .container .menu .menuButton {
    display: block;
    float: right;
  }
  .header_2 .container .menu ul {
    display: none;
  }
  .header_2 .container .menu .menuVisible {
    display: block;
    position: fixed;
    background: #1b262c;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 20px;
  }
  .header_2 .container .menu .menuVisible li {
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
  }
  .header_2 .container .menu .menuVisible .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header_3 {
  background: #1b262c;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_3 .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.header_3 .container .row .logo {
  width: 100px;
}

.header_3 .container .row .logo img {
  width: 100%;
}

.header_3 .container .row .phone p {
  color: #bbe1fa;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}

.header_3 .container .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header_3 .container .menu::after {
  content: '';
  display: table;
  clear: both;
}

.header_3 .container .menu::before {
  content: '';
  display: table;
  clear: both;
}

.header_3 .container .menu .menuButton {
  display: none;
}

.header_3 .container .menu .menuButton button {
  background: none;
  border: none;
}

.header_3 .container .menu .menuButton button * {
  fill: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_3 .container .menu .menuButton button:hover * {
  fill: #3282b8;
}

.header_3 .container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header_3 .container .menu ul li {
  margin-right: 20px;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}

.header_3 .container .menu ul li a {
  color: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_3 .container .menu ul li a:hover {
  color: #3282b8;
}

.header_3 .container .menu ul .close {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_3 .container .menu ul .close button {
  background: none;
  border: none;
}

.header_3 .container .menu ul .close button * {
  fill: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_3 .container .menu ul .close button:hover * {
  fill: #3282b8;
}

@media screen and (max-width: 899px) {
  .header_3 .container .menu .menuButton {
    display: block;
    float: right;
  }
  .header_3 .container .menu ul {
    display: none;
  }
  .header_3 .container .menu .menuVisible {
    display: block;
    position: fixed;
    background: #1b262c;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 20px;
  }
  .header_3 .container .menu .menuVisible li {
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
  }
  .header_3 .container .menu .menuVisible .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header_4 {
  background: #1b262c;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_4 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_4 .container .logo {
  width: 100px;
}

.header_4 .container .logo img {
  width: 100%;
}

.header_4 .container .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header_4 .container .menu::after {
  content: '';
  display: table;
  clear: both;
}

.header_4 .container .menu::before {
  content: '';
  display: table;
  clear: both;
}

.header_4 .container .menu .menuButton {
  float: right;
}

.header_4 .container .menu .menuButton button {
  background: none;
  border: none;
}

.header_4 .container .menu .menuButton button * {
  fill: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_4 .container .menu .menuButton button:hover * {
  fill: #3282b8;
}

.header_4 .container .menu ul {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_4 .container .menu ul li {
  margin-left: 20px;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}

.header_4 .container .menu ul li a {
  color: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_4 .container .menu ul li a:hover {
  color: #3282b8;
}

.header_4 .container .menu ul .close {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_4 .container .menu ul .close button {
  background: none;
  border: none;
}

.header_4 .container .menu ul .close button * {
  fill: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_4 .container .menu ul .close button:hover * {
  fill: #3282b8;
}

@media screen and (max-width: 899px) {
  .header_4 .container .menu .menuButton {
    display: block;
    float: right;
  }
  .header_4 .container .menu ul {
    display: none;
  }
  .header_4 .container .menu .menuVisible {
    display: block;
    position: fixed;
    background: #1b262c;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 20px;
  }
  .header_4 .container .menu .menuVisible li {
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
  }
  .header_4 .container .menu .menuVisible .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header_5 {
  background: #1b262c;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header_5 .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_5 .container .row .logo {
  width: 100px;
}

.header_5 .container .row .logo img {
  width: 100%;
}

.header_5 .container .row .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_5 .container .row .social li {
  margin-left: 20px;
  cursor: pointer;
}

.header_5 .container .row .social li * {
  fill: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_5 .container .row .social li:hover * {
  fill: #3282b8;
}

.header_5 .container .row .social li:first-child {
  margin-left: 0;
}

@media screen and (max-width: 899px) {
  .header_5 .container .row .social {
    display: none;
  }
}

.header_5 .container .menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.header_5 .container .menu::after {
  content: '';
  display: table;
  clear: both;
}

.header_5 .container .menu::before {
  content: '';
  display: table;
  clear: both;
}

.header_5 .container .menu .menuButton {
  display: none;
}

.header_5 .container .menu .menuButton button {
  background: none;
  border: none;
}

.header_5 .container .menu .menuButton button * {
  fill: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_5 .container .menu .menuButton button:hover * {
  fill: #3282b8;
}

.header_5 .container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header_5 .container .menu ul li {
  margin-right: 20px;
  font-family: "Space Mono", monospace;
  font-size: 16px;
}

.header_5 .container .menu ul li a {
  color: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_5 .container .menu ul li a:hover {
  color: #3282b8;
}

.header_5 .container .menu ul .close {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header_5 .container .menu ul .close button {
  background: none;
  border: none;
}

.header_5 .container .menu ul .close button * {
  fill: #bbe1fa;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.header_5 .container .menu ul .close button:hover * {
  fill: #3282b8;
}

@media screen and (max-width: 899px) {
  .header_5 .container .menu .menuButton {
    display: block;
    float: right;
  }
  .header_5 .container .menu ul {
    display: none;
  }
  .header_5 .container .menu .menuVisible {
    display: block;
    position: fixed;
    background: #1b262c;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 20px;
  }
  .header_5 .container .menu .menuVisible li {
    margin: 0;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
  }
  .header_5 .container .menu .menuVisible .close {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.banner_1 {
  background: url("https://images.unsplash.com/photo-1582448066439-d221b9e3ea58?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=daniel-olah-nvezYkvyyNk-unsplash.jpg&w=1920");
  background-position: center;
  background-size: cover;
}

.banner_1 .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.banner_1 .container .left h1 {
  font-size: 45px;
  font-family: "Space Mono", monospace;
  color: #f9f7f7;
  margin-bottom: 40px;
}

.banner_1 .container .left p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #f9f7f7;
  margin-bottom: 80px;
  max-width: 500px;
}

.banner_1 .container .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.banner_1 .container .right p {
  text-align: left;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #f9f7f7;
  margin-bottom: 20px;
  width: 100%;
  max-width: 500px;
}

.banner_1 .container .right .input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 500px;
}

.banner_1 .container .right .input input {
  font-size: 16px;
  padding: 10px;
  font-family: "Space Mono", monospace;
  color: #1b262c;
  border: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.banner_1 .container .right .input button {
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  font-family: "Space Mono", monospace;
  color: #f9f7f7;
  background: #1b262c;
  cursor: pointer;
}

.banner_2 {
  background: url("https://images.unsplash.com/photo-1582448066439-d221b9e3ea58?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=daniel-olah-nvezYkvyyNk-unsplash.jpg&w=1920");
  background-position: center;
  background-size: cover;
}

.banner_2 .container {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;
}

.banner_2 .container h1 {
  font-size: 45px;
  font-family: "Space Mono", monospace;
  color: #f9f7f7;
  margin-bottom: 40px;
}

.banner_2 .container p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #f9f7f7;
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 500px;
}

.banner_2 .container button {
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  font-family: "Space Mono", monospace;
  color: #f9f7f7;
  background: #1b262c;
  cursor: pointer;
}

.banner_3 {
  background: url("https://images.unsplash.com/photo-1582448066439-d221b9e3ea58?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=daniel-olah-nvezYkvyyNk-unsplash.jpg&w=1920");
  background-position: center;
  background-size: cover;
}

.banner_3 .container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.banner_3 .container h1 {
  font-size: 45px;
  font-family: "Space Mono", monospace;
  color: #f9f7f7;
  margin-bottom: 40px;
}

.banner_3 .container p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #f9f7f7;
  margin-bottom: 80px;
  max-width: 500px;
}

.banner_3 .container button {
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  font-family: "Space Mono", monospace;
  color: #f9f7f7;
  background: #1b262c;
  cursor: pointer;
}

.banner_4 {
  background: url("https://images.unsplash.com/photo-1582448066439-d221b9e3ea58?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=daniel-olah-nvezYkvyyNk-unsplash.jpg&w=1920");
  background-position: center;
  background-size: cover;
}

.banner_4 .container {
  padding-top: 80px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.banner_4 .container h1 {
  font-size: 45px;
  font-family: "Space Mono", monospace;
  color: #f9f7f7;
  margin-bottom: 40px;
  width: 500px;
  max-width: 500px;
}

.banner_4 .container p {
  font-size: 16px;
  font-family: "Lato", sans-serif;
  color: #f9f7f7;
  margin-bottom: 80px;
  max-width: 500px;
}

.banner_4 .container .buttons {
  width: 500px;
  max-width: 500px;
}

.banner_4 .container .buttons button {
  border: none;
  font-size: 16px;
  padding: 10px 20px;
  font-family: "Space Mono", monospace;
  color: #f9f7f7;
  background: #1b262c;
  cursor: pointer;
}

.banner_5 {
  background: url("https://images.unsplash.com/photo-1582448066439-d221b9e3ea58?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=daniel-olah-nvezYkvyyNk-unsplash.jpg&w=1920");
  background-position: center;
  background-size: cover;
}

.banner_5 .container {
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;
}

.banner_5 .container h1 {
  font-size: 45px;
  font-family: "Space Mono", monospace;
  color: #f9f7f7;
}

.list_1 .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.list_1 .container > div {
  text-align: center;
}

.list_1 .container > div .img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.list_1 .container > div .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.list_1 .container > div h3 {
  margin-bottom: 20px;
  font-family: "Space Mono", monospace;
  font-size: "Lato", sans-serif;
  color: #393e46;
}

.list_1 .container > div p {
  font-family: "Lato", sans-serif;
  color: #393e46;
  font-size: "Space Mono", monospace;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 899px) {
  .list_1 .container > div {
    margin-bottom: 40px;
  }
}

.list_2 .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.list_2 .container > div {
  text-align: center;
}

.list_2 .container > div h3 {
  margin-bottom: 20px;
  font-family: "Space Mono", monospace;
  font-size: "Lato", sans-serif;
  color: #393e46;
}

.list_2 .container > div p {
  font-family: "Lato", sans-serif;
  color: #393e46;
  font-size: "Space Mono", monospace;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 899px) {
  .list_2 .container > div {
    margin-bottom: 40px;
  }
}

.list_3 .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.list_3 .container > div {
  text-align: center;
}

.list_3 .container > div .img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.list_3 .container > div .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.list_3 .container > div h3 {
  font-family: "Space Mono", monospace;
  font-size: "Lato", sans-serif;
  color: #393e46;
}

.list_3 .container > div p {
  font-family: "Lato", sans-serif;
  color: #393e46;
  font-size: "Space Mono", monospace;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 899px) {
  .list_3 .container > div {
    margin-bottom: 40px;
  }
}

.list_4 .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.list_4 .container > div {
  text-align: center;
  padding: 20px;
  margin-right: 0;
  margin-left: 0;
  width: 33.333%;
}

.list_4 .container > div .img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.list_4 .container > div .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.list_4 .container > div h3 {
  font-family: "Space Mono", monospace;
  font-size: "Lato", sans-serif;
  color: #393e46;
}

.list_4 .container > div p {
  font-family: "Lato", sans-serif;
  color: #393e46;
  font-size: "Space Mono", monospace;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 899px) {
  .list_4 .container > div {
    width: 100%;
  }
}

.list_4 .container .color1 {
  background: #bbe1fa;
}

.list_4 .container .color2 {
  background: #3282b8;
}

.list_4 .container .color3 {
  background: #0f4c75;
}

.list_5 .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.list_5 .container > div {
  text-align: center;
  padding: 20px;
  margin-right: 0;
  margin-left: 0;
  width: 33.333%;
}

.list_5 .container > div .img {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.list_5 .container > div .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.list_5 .container > div h3 {
  margin-bottom: 20px;
  font-family: "Space Mono", monospace;
  font-size: "Lato", sans-serif;
  color: #393e46;
}

.list_5 .container > div p {
  font-family: "Lato", sans-serif;
  color: #393e46;
  font-size: "Space Mono", monospace;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 899px) {
  .list_5 .container > div {
    width: 100%;
  }
}

.list_5 .container .color1 {
  background: #bbe1fa;
}

.list_5 .container .color2 {
  background: #3282b8;
}

.list_5 .container .color3 {
  background: #0f4c75;
}

.list_6 .container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.list_6 .container > div {
  text-align: center;
  padding: 20px;
  margin-right: 0;
  margin-left: 0;
  width: 33.333%;
}

.list_6 .container > div h3 {
  margin-bottom: 20px;
  font-family: "Space Mono", monospace;
  font-size: "Lato", sans-serif;
  color: #393e46;
}

.list_6 .container > div p {
  font-family: "Lato", sans-serif;
  color: #393e46;
  font-size: "Space Mono", monospace;
  max-width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 899px) {
  .list_6 .container > div {
    width: 100%;
  }
}

.list_6 .container .color1 {
  background: #bbe1fa;
}

.list_6 .container .color2 {
  background: #3282b8;
}

.list_6 .container .color3 {
  background: #0f4c75;
}

.photoDestaque_1 .container {
  position: relative;
}

.photoDestaque_1 .img {
  position: absolute;
  height: 100%;
}

.photoDestaque_1 .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 899px) {
  .photoDestaque_1 .img {
    z-index: -1;
    opacity: 0.5;
  }
}

.photoDestaque_1 .content {
  float: right;
  padding-top: 80px;
  padding-bottom: 80px;
}

@media screen and (max-width: 899px) {
  .photoDestaque_1 .content {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.photoDestaque_1 .content h2 {
  font-family: "Space Mono", monospace;
  font-style: 35px;
  color: #393e46;
  margin-bottom: 20px;
}

.photoDestaque_1 .content h3 {
  font-family: "Space Mono", monospace;
  font-style: 21px;
  color: #393e46;
  margin-bottom: 40px;
}

.photoDestaque_1 .content p {
  font-family: "Lato", sans-serif;
  font-style: 16px;
  color: #393e46;
  margin-bottom: 40px;
  line-height: 1.5;
}
/*# sourceMappingURL=style.css.map */