$ultrahd-device: 2304px;
$fullhd-device: 1344px;
$hd-device: 900px;
$small-device: 430px;



$black1: #393e46;
$black2: #222831;

$white1: #f9f7f7;
$white2: #dbe2ef;

$color1: #bbe1fa;
$color2: #3282b8;
$color3: #0f4c75;
$color4: #1b262c;

$font1: 'Space Mono', monospace;
$font2: 'Lato', sans-serif;

$font-size1: 16px;
$font-size2: 21px;
$font-size3: 35px;
$font-size4: 120px;

$space_small:20px;
$transition: 0.5s ease; 