.galeria_1{
    padding-top: $space_big;
    padding-bottom: $space_big;
    position: relative;
    .titulo{
        font-family: $font1;
        font-style: $font-size3;
        color: $black1;
        margin-bottom: $space_medium;
    }
    .img{
        margin-bottom: 20px;
        height: 250px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    
}