.header_5{
    background: $color4;
    padding-top: $space_small/2;
    padding-bottom: $space_small/2;
    .container{
        .row{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                width: 100px;
                img{
                    width: 100%;
                }
            }
            .social{
                display: flex;
                align-items: center;
                li{
                    margin-left: $space_small;
                    cursor: pointer;
                    *{
                        fill: $color1;
                        transition: $transition;
                    }
                    &:hover{
                        *{
                            fill: $color2;
                        }
                    }
                    &:first-child{
                        margin-left: 0;
                    }
                }
                @include responsive('small')
                {
                    display: none;
                }
            }
        }
        .menu{
            flex: 1;
            @include mx-clearfix();
            .menuButton{
                display: none;
                button{
                    background: none;
                    border: none;
                    *{
                        fill: $color1;
                        transition: $transition;
                    }
                    &:hover{
                        *{
                            fill: $color2;
                        }
                    }
                }
            }
            ul{
                display: flex;
                align-items: center;
                justify-content: center;
                li{
                    margin-right: $space_small;
                    font-family: $font1;
                    font-size: $font-size1;
                    a{
                        color: $color1;
                        transition: $transition;
                        &:hover{
                            color: $color2;
                        }
                    }
                }
                .close{
                    display: none;
                    justify-content: flex-end;
                    button{
                        background: none;
                        border: none;
                        *{
                            fill: $color1;
                            transition: $transition;
                        }
                        &:hover{
                            *{
                                fill: $color2;
                            }
                        }
                    }
                }
            }
            @include responsive('small')
            {
                .menuButton{
                    display: block;
                    float: right;
                }
                ul{
                    display: none;
                }
                .menuVisible{
                    display: block;
                    position: fixed;
                    background: $color4;
                    top: 0;
                    right: 0;
                    height: 100vh;
                    padding: $space_small;
                    li{
                        margin: 0;
                        margin-bottom: 10px;
                        padding: 5px;
                        text-align: right;
                    }
                    .close{
                        display: flex;
                    }
                }
            }
        }
    }
}