<div class="formulario_1">
    <div class="container">
        <div class="grid-6">
            <div class="row">
                <label for="">Label</label>
                <input type="text" placeholder="input">
            </div>
            <div class="row">
                <label for="">Label</label>
                <input type="text" placeholder="input">
            </div>
        </div>
        <div class="grid-6">
            <div class="row">
                <label for="">Label</label>
                <input type="text" placeholder="input">
            </div>
            <div class="row">
                <label for="">Label</label>
                <input type="text" placeholder="input">
            </div>
        </div>
        <div class="grid-12">
            <div class="row">
                <label for="">Label</label>
                <input type="text" placeholder="input">
            </div>
        </div>
        <div class="grid-12">
            <div class="row">
                <label for="">Label</label>
                <input type="text" placeholder="input">
            </div>
        </div>
        <button>Enviar</button>
    </div>
</div>