<div class="formulario_5">
    <div class="container">
        <div class="grid-6 contato">
            <h2>Título</h2>
            <p>O que temos que ter sempre em mente é que a valorização de fatores subjetivos agrega valor ao estabelecimento das novas proposições. A nível organizacional, a percepção das dificuldades afeta positivamente a correta previsão das posturas dos órgãos dirigentes com relação às suas atribuições. Desta maneira, o desafiador cenário globalizado facilita a criação das formas de ação.</p>
        </div>
        <div class="grid-6 form">
            <div class="grid-6">
                <div class="row">
                    <label for="">Label</label>
                    <input type="text" placeholder="input">
                </div>
                <div class="row">
                    <label for="">Label</label>
                    <input type="text" placeholder="input">
                </div>
            </div>
            <div class="grid-6">
                <div class="row">
                    <label for="">Label</label>
                    <input type="text" placeholder="input">
                </div>
                <div class="row">
                    <label for="">Label</label>
                    <input type="text" placeholder="input">
                </div>
            </div>
            <div class="grid-12">
                <div class="row">
                    <label for="">Label</label>
                    <input type="text" placeholder="input">
                </div>
            </div>
            <div class="grid-12">
                <div class="row">
                    <label for="">Label</label>
                    <input type="text" placeholder="input">
                </div>
            </div>
            <button>Enviar</button>
        </div>
    </div>
    <div class="img">
        <img src="/img/background.jpg" alt="">
    </div>
</div>