<div class="lista_produtos_1">
    <div class="container">
        
        <h1 class="titulo">Titulo</h1>
        <div class="grid-12 produto">
            <div class="img ">
                <img src="/img/background.jpg" alt="">
            </div>
            <p class="nome">Nome produto</p>
            <p class="preco">R$ 99.99</p>
        </div>
        <div class="grid-12 produto">
            <div class="img ">
                <img src="/img/background.jpg" alt="">
            </div>
            <p class="nome">Nome produto</p>
            <p class="preco">R$ 99.99</p>
        </div>
        <div class="grid-12 produto">
            <div class="img ">
                <img src="/img/background.jpg" alt="">
            </div>
            <p class="nome">Nome produto</p>
            <p class="preco">R$ 99.99</p>
        </div>
        <div class="grid-12 produto">
            <div class="img ">
                <img src="/img/background.jpg" alt="">
            </div>
            <p class="nome">Nome produto</p>
            <p class="preco">R$ 99.99</p>
        </div>
        <div class="grid-12 produto">
            <div class="img ">
                <img src="/img/background.jpg" alt="">
            </div>
            <p class="nome">Nome produto</p>
            <p class="preco">R$ 99.99</p>
        </div>
        <div class="grid-12 produto">
            <div class="img ">
                <img src="/img/background.jpg" alt="">
            </div>
            <p class="nome">Nome produto</p>
            <p class="preco">R$ 99.99</p>
        </div>
        
        
    </div>
    
</div>