.banner_5{
    background: url("https://images.unsplash.com/photo-1582448066439-d221b9e3ea58?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&dl=daniel-olah-nvezYkvyyNk-unsplash.jpg&w=1920");
    background-position: center;
    background-size: cover;
    .container{
        padding-top: $space_big*2;
        padding-bottom: $space_big*2;
        text-align: center;
        h1{
            font-size: $font-size4;
            font-family: $font1;
            color: $white1;
        }
    }
}