<div class="banner_1">
    <div class="container">
        <div  class="left">
            <h1>Título</h1>
            <p>Um texto qualquer para a página, uma descrição sobre os serviços ou a empresa</p>
        </div>
        <div class="right">
            <p>Receba nossa promoções no celular ou e-mail</p>
            <div class="input">
                <input type="email" placeholder="email / telefone">
                <button type="button">Enviar</button>
            </div>
        </div>
    </div>
</div>