<div class="photoDestaque_2">
    <div class="container">
        <div class="grid-6 content">
            <h2>Título</h2>
            <h3>Sub título</h3>
            <p>O que temos que ter sempre em mente é que a valorização de fatores subjetivos agrega valor ao estabelecimento das novas proposições. A nível organizacional, a percepção das dificuldades afeta positivamente a correta previsão das posturas dos órgãos dirigentes com relação às suas atribuições. Desta maneira, o desafiador cenário globalizado facilita a criação das formas de ação.</p>
        </div>
        <div class="grid-6 img">
            <img src="/img/background.jpg" alt="">
        </div>
    </div>
</div>