._quebraTexto_4{
    position: relative;
    padding-top: $space_big;
    padding-bottom: $space_big;
    text-align: center;
    h1{
        font-family: $font1;
        font-style: $font-size3;
        color: $black1;
        margin-bottom: $space_medium;
    }
    h3{
        font-family: $font1;
        font-style: $font-size2;
        color: $black1;
        margin-bottom: $space_medium;
    }
}