<div class="list_5">
    <div class="container">
        <div class="grid-4 color1">
            <div class="img">
                <img src="/img/star.png" alt="">
            </div>
            <h3>Título</h3>
            <p>Um texto para este pequeno ícone, explicando o que é isto ou aquilo</p>
        </div>
        <div class="grid-4 color2">
            <div class="img">
                <img src="/img/star.png" alt="">
            </div>
            <h3>Título</h3>
            <p>Um texto para este pequeno ícone, explicando o que é isto ou aquilo</p>
        </div>
        <div class="grid-4 color3">
            <div class="img">
                <img src="/img/star.png" alt="">
            </div>
            <h3>Título</h3>
            <p>Um texto para este pequeno ícone, explicando o que é isto ou aquilo</p>
        </div>
    </div>
</div>