<div class="list_6">
    <div class="container">
        <div class="grid-4 color1">
            <h3>Título</h3>
            <p>Um texto para este pequeno ícone, explicando o que é isto ou aquilo</p>
        </div>
        <div class="grid-4 color2">
            <h3>Título</h3>
            <p>Um texto para este pequeno ícone, explicando o que é isto ou aquilo</p>
        </div>
        <div class="grid-4 color3">
            <h3>Título</h3>
            <p>Um texto para este pequeno ícone, explicando o que é isto ou aquilo</p>
        </div>
    </div>
</div>