<div class="list_2">
    <div class="container">
        <div class="grid-4">
            <h3>Título</h3>
            <p>Um texto para este pequeno ícone, explicando o que é isto ou aquilo</p>
        </div>
        <div class="grid-4">
            <h3>Título</h3>
            <p>Um texto para este pequeno ícone, explicando o que é isto ou aquilo</p>
        </div>
        <div class="grid-4">
            <h3>Título</h3>
            <p>Um texto para este pequeno ícone, explicando o que é isto ou aquilo</p>
        </div>
    </div>
</div>